/*-----Общие настройки------*/
body {
	width: 1200px;

	margin:0;	
	padding: 0;

	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;

}

a {
	text-decoration: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/*--------Основное меню - хэдэр-----------*/

.main-header {
	text-align: center;
}


	
.main-navigation { 
	font-size: 14px;
	line-height: 26px; /*Настройка тэга nav*/
	font-weight: 700;
	color: #000000;
	
	
	background-color: #ffffff;
}

.main-menu  {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	list-style: none;

	width: 1200px;
	height: 56px;

	background-color: #ffffff;

	padding: 0;
	margin: 0;

}
.main-menu li {
	width: 240px;

}

.main-menu li:nth-child(5) {
	position: relative;
	top: 11px;
	order: 3;
}

.main-menu li:nth-child(1) {
	order: 1;
}

.main-menu li:nth-child(2) {
	order: 2;
}

.main-menu li:nth-child(3) {
	order: 4;
}

.main-menu li:nth-child(4) {
	order: 5;
}





/*.main-menu {
	list-style: none; /*Убираем маркеры у списка*
	padding: 0;
}

.main-menu li {
	box-sizing: border-box;
	padding-top: 14px;
	float: left;
	width: 239px;
	height: 56px;
}

.main-menu li:nth-child(3) {
	width: 244px;
	padding-top: 0px;
}
*/
.main-menu a {
	color: #000000; /* Меняем цвет ссылки*/
}

.main-menu a:hover,
.main-menu a:focus { /*Настройка фокуса и наведения*/
	color: #81b3d2;
}

.main-menu a:active { /*Настройка нажатия*/
	color: #b2b2b2;
}

.fon {
	min-height: 433px;
	padding-top: 76px;
	background: 
	url(img/polygon.png) 0 100% no-repeat,
	url(img/background-welcome.jpg) 50% -56px no-repeat;
}



/*---------Основной контент------------------*/


		/*______Преимущества______*/

.discription {
	margin-top: 59px;
	text-align: center;

	font-weight: bold;
	font-size: 21px;
	line-height: 26px;

	color: #000000;
}

.five-reasons {
	margin-top: 27px;
	margin-bottom: 50px;
	text-align: center;

	font-weight: normal;
	font-size: 14px;
	line-height: 26px;

	color: #000000;
}

.advantages {
	width: 1200px;

	text-align: center;

}

.five-reasons-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	
}


.reason-item {
	width: 1200px;
	height: 256px;
	margin-bottom: 20px;
}

.reason-item:nth-child(1) {
	order: 1;
	margin-bottom: 56px;
}
.reason-item:nth-child(2) {
	margin-bottom: 0;
	order: 3;
}
.reason-item:nth-child(3) {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	width: 1200px;
	height: 256px;
	background-color: #eeeeee;

	order: 4;

}

.reason-item:nth-child(4) {
	order: 2;
	margin-bottom: 19px; 
}

.reason-item h3 {
	margin-top: 50px;
	font-size: 21px;
	line-height: 21px;
}

.blue-fone {
	width: 400px;
	height: 256px;

	box-sizing: border-box;
	background-color: #81b3d2;

	color: #ffffff;
}

.blue-left {
	float: left;
}

.blue-right {
	float: right;
}
.blue-fone p {
	margin-top: 20px;
}

.in-city {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;

	list-style: none;
	width: 1200px;
	height: 256px;

	padding: 0;
	margin: 0;
}

.in-city-item {
	width: 400px;
	height: 256px;
}

.in-city-item h4 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	margin: 24px;
	
		
}
.in-city-item p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	
}

.grey-box {
	width: 400px;
	height: 256px;
}

.grey-box h3 {
	margin-top: 47px;
	margin-bottom: 24px;
}

.grey-box p {
	margin-top: 21px;
}






		/*____Поиск гостиницы____*/

.question {
	text-align: center;
}

.question h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	margin-top: 30px;
}

.question p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	margin-bottom: 46px;
}


.question button {
	width: 568px;
	height: 86px;

	background-color: #766357;
	border: none;

	font: inherit;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;

	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.question button:hover,
.question button:focus {
	background-color: #604e43;
}

.question button:active {
	background-color: #503e33;
	color: #7e7169;
}

		/*_____Скрытая форма бронирования_____*/

.hidden-form {
	font: inherit;

	font-size: 14px;
	font-weight: 700;
	line-height: 26px;

	color: #000000;
}

.hidden-item input {
	width: 346px;
	height: 38px;

	font: inherit;

	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	
	background-color: #f2f2f2;
	color: #000000;
	border: none;
}

.hidden-item input:hover {
	background-color: #ebebeb;
}

.hidden-item input:focus {
	width: 342px;
	height: 34px;
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}


/*--------ПОДВАЛ-----------*/

.main-footer {
	width: 1200px;
	height: 593px;

	background: url("img/map.jpg") no-repeat 50% 50%;
	background-color: #ffffff;

}

.hidden-form {
	width: 568px;
	height: 395px;
	background-color: #ffffff;
	
	position: absolute;
	left: 316px;
	text-align: center;

	padding-top: 1px;

}



.footer-bottom {
	display: flex;	
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	width: 1200px;
	height: 120px;
	padding: 0;
	
	position: relative;
	top: 473px;
	
	color: #000000;

	background-color: rgba(253, 253, 253, 0.9);
}

.footer-hashtag,
.footer-social,
.footer-copyright {
	width: 400px;
	height: 50px;
	
	padding: 0;
	margin:0;

	text-align: center;
}

.footer-hashtag {
	font: inherit;
	
	font-size: 21px;
	font-weight: 700;

	padding-top: 26px;
}

.footer-social {	
	list-style: none;
}

.button-social {
	display: inline-block;
}



/*______Стилизация для hotels.html_____________*/

.main-footer-hotels {
	width: 1200px;
	height: 120px;
}

.footer-bottom-hotels {
	display: flex;	
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	width: 1200px;
	height: 120px;
	padding: 0;
	
	color: #000000;

	background-color: rgba(253, 253, 253, 0.9);
}


.result {
	width: 1200px;
	height: 96px;
	text-align: center;
	margin: auto;
}

.sort {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	width:1200px;
	height: 216px;

	background: url("img/filter.jpg") no-repeat 50% 50%;
}

.hostel-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	list-style: none;

	margin: 0;
	padding: 0;

	width:1200px;
	height: 450px;
}

.hostel-item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;

	width: 1200px;
	height: 150px;

}

.hostel-item img {
	float: left;

}

.left-box {
	width: 500px;
}

.right-box {
	width: 300px;

}